[Unit]
Description=SPOT Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/spot-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
